<footer class="footer sec-padding">
  <div class="container">
    <div
      class="footer-wrapper"
      fxlayout="row wrap"
      fxlayoutalign="space-between start"
      style="
        flex-flow: wrap;
        box-sizing: border-box;
        display: flex;
        place-content: flex-start space-between;
        align-items: flex-start;
      "
    >
      <div
        class="footer-widget about-widget"
        fxflex="100"
        fxflex.gt-sm="30"
        fxflex.sm="50"
        style="flex: 1 1 30%; box-sizing: border-box; max-width: 30%"
      >
      <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>KING MOBILE</strong></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu
          bibendum orci. Aliquam erat volutpat.
        </p>
        <div class="link">
          <a href="#">MORE ABOUT US</a>
        </div>
      </div>
      <div
        class="footer-widget links-widget links-widget-pac"
        fxflex="100"
        fxflex.gt-sm="23"
        fxflex.sm="50"
        ngclass.xs="mt-2"
        style="flex: 1 1 23%; box-sizing: border-box; max-width: 23%"
      >
        <div class="title">
          <h5>Services</h5>
        </div>
        <div class="row">
          <ul class="no-dot">
            <li>
              <a href="#">Hotel Growth</a>
            </li>
            <li>
              <a href="#">Hotel Loan</a>
            </li>
            <li>
              <a href="#">Financial Planning</a>
            </li>
            <li>
              <a href="#">Insurance Consulting</a>
            </li>
            <li>
              <a href="#">Retirenment Planing</a>
            </li>
            <li>
              <a href="#">Tax Planing</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="footer-widget subscribe-widget"
        fxflex="100"
        fxflex.gt-sm="23"
        fxflex.sm="50"
        ngclass.xs="mt-2"
        style="flex: 1 1 23%; box-sizing: border-box; max-width: 23%"
      >
        <div class="title">
          <h5>Subscribe Newsletter</h5>
        </div>
        <form action="#">
          <p>Get latest updates and offers.</p>
          <div
            class="newsletter-widget"
            fxlayout="column"
            style="
              flex-direction: column;
              box-sizing: border-box;
              display: flex;
            "
          >
            <input placeholder="Enter your email address" type="text" />
            <button
              class="button ped-btn-footer mat-focus-indicator mat-raised-button mat-button-base mat-primary"
              color="primary"
              mat-raised-button=""
              type="submit"
              style="border-radius: 10px"
            >
              <span class="mat-button-wrapper">SUBSCRIBE US</span
              ><span class="mat-button-ripple mat-ripple" matripple=""></span
              ><span class="mat-button-focus-overlay"></span>
            </button>
          </div>
        </form>
      </div>
      <div
        class="footer-widget subscribe-widget"
        fxflex="100"
        fxflex.gt-sm="23"
        fxflex.sm="50"
        ngclass.sm="mt-2"
        ngclass.xs="mt-2"
        style="flex: 1 1 23%; box-sizing: border-box; max-width: 23%"
      >
        <div class="title">
          <h5>Contact Us</h5>
        </div>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex"
        >
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="text">
            <p>Apple St, New York, NY 10012, USA</p>
          </div>
        </div>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex"
        >
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="text">
            <p>( 018) 65 524 8503 / (125) 954 7854</p>
          </div>
        </div>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex"
        >
          <div class="icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="text">
            <p>
              <a href="#">contact@lamarena.com</a>
            </p>
          </div>
        </div>
        <ul
          class="social list-inline"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex"
        >
        <button type="button" class="btn btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-floating mx-1">
          <i class="fab fa-linkedin-in"></i>
        </button>
        </ul>
      </div>
    </div>
  </div>
</footer>
