/* .container {
    margin: 0 auto;
    width: 500px;
} */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.btn {
    background-color: #B22830;
    color: white;
    border-radius: 20px;

}

.form-label,
h3 {
    font-weight: bold;
}