<div class="container demo"> 
    <div class="row"> 
     <div class="col-md-12"> 
      <div id="news-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;"> 
       <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1440px; display: block;"><div class="owl-item" style="width: 555px;"><div class="post-slide"> 
        <div class="post-img"> <img src="http://u658941.webmienphi.vn/files/sanpham/10/300_1/jpg/iphone-12-pro-128gb-chinh-hang-vn/a_300x300.jpg" width="100px" alt=""> 
         <div class="over-layer"> 
          <ul class="post-link"> 
           <li><a href="http://localhost:4200/#/products/1" class="fa fa-search"></a>
           </li> 
          </ul> 
         </div> 
        </div> 
        <div class="post-review"> 
         <h3 class="post-title">iPhone 14 Pro Max (Chính Hãng VN/A)
         </h3> 
         <ul class="post-info"> 
          <li>Cấu hình iPhone 14 Pro Max mạnh mẽ, hiệu năng cực khủng từ chipset A16 Bionic.</li> 
          <li>Làm chủ công nghệ nhiếp ảnh - Camera sau 48MP, cảm biến TOF sống động.</li> 
         </ul> 
         <ul class="tag-info"> 
          <li>Pin liền lithium-ion kết hợp cùng công nghệ sạc nhanh cải tiến</li> 
         </ul> 
         <p class="post-description"> Giảm thêm tới 1% cho thành viên Smember (áp dụng tùy sản phẩm) </p> <a href="http://localhost:4200/#/products/1" class="read-more">Chi tiết</a> 
        </div> 
       </div></div><div class="owl-item" style="width: 555px;"><div class="post-slide"> 
        <div class="post-img"> <img src="https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/_/g/_global_version_sm-s916_galaxys23plus_front_cream_221122.jpg"> 
         <div class="over-layer"> 
          <ul class="post-link"> 
           <li><a href="http://localhost:4200/#/products/3" class="fa fa-search"></a>
           </li> 
          </ul> 
         </div> 
        </div> 
        <div class="post-review"> 
         <h3 class="post-title">Samsung Galaxy S23 Plus 8GB 256GB
         </h3> 
         <ul class="post-info"> 
          <li>Cấu hình iPhone 14 Pro Max mạnh mẽ, hiệu năng cực khủng từ chipset A16 Bionic.</li> 
          <li>ĐLàm chủ công nghệ nhiếp ảnh - Camera sau 48MP, cảm biến TOF sống động.</li> 
         </ul> 
         <ul class="tag-info"> 
          <li>Pin liền lithium-ion kết hợp cùng công nghệ sạc nhanh cải tiến</li> 
         </ul> 
         <p class="post-description"> Giảm thêm tới 1% cho thành viên Smember (áp dụng tùy sản phẩm) </p> <a href="http://localhost:4200/#/products/3" class="read-more">Chi tiết</a> 
        </div> 
       </div></div><div class="owl-item" style="width: 555px;"><div class="post-slide"> 
        <div class="post-img"> <img src="https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/_/g/_global_version_sm-s916_galaxys23plus_front_green_221122.jpg" alt=""> 
         <div class="over-layer"> 
          <ul class="post-link"> 
           <li><a href="http://localhost:4200/#/products/8" class="fa fa-search"></a>
           </li> 
          </ul> 
         </div> 
        </div> 
        <div class="post-review"> 
         <h3 class="post-title">
            Xiaomi 13 Pro
         </h3> 
         <ul class="post-info"> 
            <li>Cấu hình iPhone 14 Pro Max mạnh mẽ, hiệu năng cực khủng từ chipset A16 Bionic.</li> 
            <li>ĐLàm chủ công nghệ nhiếp ảnh - Camera sau 48MP, cảm biến TOF sống động.</li> 
         </ul> 
         <ul class="tag-info"> 
            <li>Pin liền lithium-ion kết hợp cùng công nghệ sạc nhanh cải tiến</li> 
           </ul> 
         <p class="post-description"> Giảm thêm tới 1% cho thành viên Smember (áp dụng tùy sản phẩm) </p> <a href="http://localhost:4200/#/products/8" class="read-more">Chi tiết</a> 
        </div> 
       </div></div><div class="owl-item" style="width: 555px;"><div class="post-slide"> 
        <div class="post-img"> <img src="http://u658941.webmienphi.vn/files/sanpham/9/300_1/png/iphone-12-pro-128gb-chinh-hang-vn/a_300x300.png" alt=""> 
         <div class="over-layer"> 
          <ul class="post-link"> 
           <li><a href="http://localhost:4200/#/products/7" class="fa fa-search"></a>
           </li> 
          </ul> 
         </div> 
        </div> 
        <div class="post-review"> 
         <h3 class="post-title">iPhone 14 Pro Max (Chính Hãng VN/A)
         </h3> 
         <ul class="post-info"> 
            <li>Cấu hình iPhone 14 Pro Max mạnh mẽ, hiệu năng cực khủng từ chipset A16 Bionic.</li> 
            <li>ĐLàm chủ công nghệ nhiếp ảnh - Camera sau 48MP, cảm biến TOF sống động.</li> 
         </ul> 
         <ul class="tag-info"> 
            <li>Pin liền lithium-ion kết hợp cùng công nghệ sạc nhanh cải tiến</li> 
           </ul> 
         <p class="post-description">  Giảm thêm tới 1% cho thành viên Smember (áp dụng tùy sản phẩm)</p> <a href="http://localhost:4200/#/products/7" class="read-more">Chi tiết</a> 
        </div> 
       </div></div></div></div> 

     </div> 
    </div>
   </div>