<div class="cart-container">
    <h2>Shopping Cart</h2>
    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <table class="table text-center my-auto">
      <thead>
        <tr class="bg-secondary text-light">
          <th>STT</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let item of cartItems; let i = index">
            <td>{{ i+1 }}</td>
            <td><img [src]="item.image" alt="" style="height:100px"></td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity > 1 ? item.price * item.quantity : item.price }} $</td>
            <td>{{ item.quantity }}</td>

            <td>
                <button [routerLink]="['/bill', item._id]"  class="btn btn-danger" (click)="goToBillingPage()">Mua hàng</button>
                <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
            </td>
          </tr>
        
      </tbody>
    </table>
    <div class="text-center m-3">
      <a href="">
        <input type="button" class="btn btn-primary mx-3" value="Continue Shopping">
      </a>
    </div>
</ng-container>
    <ng-template #emptyCart>
      <div class="container block-info mt-3">
        <div data-v-5a4f0845="">
          <div data-v-5a4f0845="" class="nothing-in-cart">
            <svg
              data-v-5a4f0845=""
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="frown"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512"
              class="svg-inline--fa fa-frown"
            >
              <path
                data-v-5a4f0845=""
                fill="currentColor"
                d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm80 168c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm-160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zm170.2 218.2C315.8 367.4 282.9 352 248 352s-67.8 15.4-90.2 42.2c-13.5 16.3-38.1-4.2-24.6-20.5C161.7 339.6 203.6 320 248 320s86.3 19.6 114.7 53.8c13.6 16.2-11 36.7-24.5 20.4z"
                class=""
              ></path>
            </svg>
            <p data-v-5a4f0845="">
              Your cart is empty. Please go back and add some items.
            </p>
            <a data-v-5a4f0845="" routerLink="/" class="go-back">Go back to homepage</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  